.label{
    display: block;
    color: #3d5170;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
}

.custom_form_control{
    height: auto;
    width: 100%;
    font-size: 0.8125rem;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    font-weight: 300;
    will-change: border-color, box-shadow;
    box-shadow: none;
    padding: 0.4375rem 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 229, 235);
    border-image: initial;
    border-radius: 0.25rem;
    transition: box-shadow 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06) 0s, border 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06) 0s;
    outline: none;
    box-sizing: border-box;
}

.invalidFeedback {
    margin-top: .25rem;
    font-size: 80%;
    color: #c4183c;
    width: 100%;
    font-weight: 300;
}

.custom_form_control__error {
    border-color: #c4183c;
}

.custom_form_control:focus{
    outline: none;
}

.custom_form_control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
}