.Card_header{
    padding: 1rem;
    background-color: #fff;
}

.Card_header:first-child{
    border-radius: .625rem .625rem 0 0;
}

.Border_bottom{
    border-bottom: 1px solid #e1e5eb!important;
}

.Border_top{
    border-top: 1px solid #e1e5eb!important;
}

.Card_footer{
    padding: 1rem;
}

.Card_footer:last-child{
    border-radius: 0 0 .625rem .625rem;
}

.View_report{
    margin-top: auto;
    margin-bottom: auto;
    font-size: .8rem;
}

.View_report a {
    text-decoration: none;
    color: #3d5170;
    font-weight: 600;
}

.View_report a:hover{
    color: #3281bf;
}

.Text_right{
    text-align: right!important;
}

.Custom_select{
    height: calc(1.88845rem + 2px);
    font-size: .7875rem;
    max-width: 130px;
}