:global .rbc-calendar{
    width: 100%;
}

:global .rbc-btn-group button{
    padding: .4286rem .625rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: .25rem;
}

:global .rbc-time-content > .rbc-time-gutter{
    font-size: 0.77rem;
}

:global .rbc-toolbar-label{
    font-size: 1.1rem;
    line-height: 1.5;
    color: #3d5170;
    font-weight: 500;
}