:global .rbc-calendar{
    width: 100%;
}

:global .rbc-header{
    font-size: 13px;
    font-weight: 700;
}


:global .rbc-btn-group button{
    padding: .4286rem .625rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: .25rem;
}

:global .rbc-time-content > .rbc-time-gutter{
    font-size: 0.77rem;
}

:global .rbc-btn-group{
    z-index: 40;
}

:global .rbc-btn-group button:hover{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

/*:global .rbc-btn-group button:focus{*/
    /*background-color: white;*/
/*}*/

:global .rbc-toolbar{
    justify-content: space-between;
}

:global .rbc-btn-group button{
    outline: none;
}

:global .rbc-btn-group button:focus{
    background-color: white;
    color: #282c34;
}

:global .rbc-btn-group button:hover{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

:global .rbc-off-range-bg{
    background-color: #e1e5eb;
}

:global .rbc-toolbar-label{
    font-size: 1rem;
    line-height: 1.5;
    color: #3d5170;
    font-weight: 600;
    z-index: 30;
}

:global .rbc-date-cell{
    font-size: 0.8rem;
    color: #3d5170;
}

:global .rbc-event{
    background-color: #c1e9fe;
    color: black;
    font-size: 10px;
    font-weight: 600;
    border-radius: 0;
}

/*:global .rbc-day-slot .rbc-event{*/
    /*border: 1px solid #718797;*/
/*}*/

:global .rbc-event.rbc-selected{
    background-color: #c1e9fe;
    border: #282c34 1px solid;
    outline: none;
    /*transition: all .2s ease-in-out;*/
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1) !important;
}

:global .rbc-event.rbc-selected:focus{
    outline: none;
}

:global .rbc-toolbar button.rbc-active{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

:global .rbc-toolbar button.rbc-active:hover{
    background-color: #007bff;
    color: white;
}

:global .rbc-toolbar button.rbc-active:focus{
    background-color: #007bff;
    color: white;
}

:global .rbc-show-more{
    font-size: 75%;
    color: #007bff;
    padding: 3px 0;
}

.btn{
    /*color: #3d5170 !important;*/
    /*border-color: #3d5170 !important;*/
}

.btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

ul{
    list-style-type: none;
    text-align: left;
    padding-left: 0 !important;
    margin: 0;
}

.desc{
    font-weight: 400;
    margin: 0 auto;
}