.Table{
    width: 100%;
    margin: auto;
    height: auto;
    overflow: scroll;
    text-align: center;
    font-size: 0.8rem;
}

.Table > thead > tr > th {
    padding: 0.85rem 1.75rem !important;
}

.Table > tbody > tr > td {
    padding: 0.75rem 1.75rem !important;
    height: 60px !important;
}

.Table tbody tr, th, td{
    padding: 15px;
    text-align: left;
    vertical-align: inherit !important;
}

/*.name{*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/

/*}*/

.name span{
    width: 200px;
    text-decoration: underline;
    color: #0066cc;
    font-weight: 500;
    cursor: pointer;
}

.name i{
    font-size: 16px;
}

.name:hover{
    cursor: pointer;
    /*transform: scale(1.1) ;*/
}

.level{
    width: 140px;
}

/*td:last-child{*/
    /*width: 120px;*/
/*}*/

/*td:first-child{*/
    /*width: 215px;*/
/*}*/

/*.Table tr{*/
    /*transition: all .2s ease-in-out;*/
/*}*/

/*.Table tr:hover{*/
    /*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);*/
    /*opacity: 1;*/
    /*transform: scale(1.02);*/
    /*cursor: pointer;*/
/*}*/

.info i{
    font-size: 0.8625rem !important;
    color: #c3c7cc;
    text-decoration: none;
    padding-left: 5px;
}

.info i:hover{
    cursor: pointer;
}

.custom_badge{
    border-radius: 0.2rem !important;
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    padding: .25em 0;
    width: 80% !important;
    color: #ffffff !important;
}