.Update i{
    font-size: 1.4625rem;
    color: #c3c7cc;
    transition: all .2s ease-in-out;
}

.Update{
    display: flex;
}

.Update i:hover{
    cursor: pointer;
    color: var(--pagination-item-bg-color);
}