.Toolbar {
    position: sticky;
    top: 0;
    z-index: 90;
    box-shadow: 0 0.125rem 0.625rem rgba(34, 34, 42, 0.12);
    background-color: var(--nav-bg-color);
}

.Input_group{
    min-width: 7.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Input_search {
    height: auto;
    padding: .4375rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    color: #495057;
    background-color: var(--nav-bg-color);
    border: none;
    font-weight: 300;
    border-radius: .25rem;
    box-shadow: none;
    -webkit-transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
    transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
    outline:none;
}

.Input_search .Search_icon{
    color: #f5f6f8;
}

.Input_search input:focus{
    outline:none;
}

.Input_search input:active{
    outline:none;
}

.Notification {
    border-left: 1px solid #e1e5eb;
    border-right: 1px solid #e1e5eb;
    display: flex;
    flex-direction: row;
    position: relative;
}

.Notification div {
    position: relative;
    padding: 5px 10px;
}

.Notification div i{
    font-size: 1.5625rem;
    color: #c3c7cc;
}

.Notification div span {
    position: absolute;
    padding: .25rem .375rem;
    font-size: .5rem;
    left: 50%;
    top: 50%;
}

.Profile_Nav {
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Profile_Nav .Wrapper {
    min-width: 8.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Profile_Nav .Avatar {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px white solid;
    border-radius: 50%;
    overflow: hidden;
    /*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);*/
    transform: translatey(0px);
    /*animation: float 6s ease-in-out infinite;*/
    transition: all .4s ease-in-out;
    background-size: cover;
    /*background-image: url("../../../assets/images/user_avatar.jpeg");*/
}

.Profile_Nav span{
    font-size: .7125rem;
    font-weight: 400;
    padding-left: 5px;
}

.Profile_Nav .Avatar:hover{
    animation:bounceOut .4s linear;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
    opacity: 1;
    transform: scale(1.1);
}

@keyframes bounceOut {
    0% {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
        opacity: 0.8;
    }
    50% {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
        opacity: 0.9;
    }
    100% {
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}