.card{
    background-color: var(--card-bg-color);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    border-radius: .625rem;
    /*border-top-right-radius: 0;*/
    box-shadow: 0 0.125rem 0.625rem rgba(4, 4, 9, 0.12);
}

.card .card_header{
    background-color: var(--card-bg-color);
}

.card_header:first-child{
    border-radius: .625rem .625rem 0 0;
}

.table_pagination{
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.btn{
    background-color: var(--add-btn-color);
    border-color: var(--add-btn-color);
}

.btn:hover{
    background-color: var(--add-btn-color);
    border-color: var(--add-btn-color);
    box-shadow: 0 0.125rem 0.625rem var(--add-btn-shadow-color);
}