.Pagination{
    height: auto;
    font-size: .8125rem;
    line-height: 1.5;
    color: #3d5170;
    font-weight: 400;
    will-change: border-color,box-shadow;
    /*border-radius: .25rem;*/
    box-shadow: none;
    outline: none;
    padding: 15px 0;
    transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
}

.Page_link{
    color: #4366e0;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.active_page_link{
    color: #ffffff;
    background-color: #4366e0;
}

.active_page{
    outline: 0;
    outline-color: transparent !important;
}

.active_page:active{
    outline-style: none;
    outline-color: transparent !important;
}

.active_page:focus{
    outline-style: none;
    outline-color: transparent !important;
}

.active_page:hover{
    outline-style: none;
    outline-color: transparent !important;
}