.modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    /*width: 75%;*/
    border-radius: .625rem;
    border: 1px solid #e1e5eb;
    box-shadow: 1px 1px 1px black;
    /*padding: 16px;*/
    left: 15%;
    top: 40%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .modal {
        width: 480px;
        left: calc(50% - 250px);
    }
}