.List_item{
    padding: .625rem 1rem;
    font-size: .8125rem;
    justify-content: space-between !important;
    background-color: var(--card-bg-color);
    border-top: 1px solid var(--border-color);
}

.List_item:first-child{
    border-top: 0;
}

.Text_semibold{
    font-weight: 400
}

.Text_fiord_blue{
    color: var(--font-color) !important;
}

.Text_reagent_gray{
    color: var(--font-color)!important;
}