.Card{
    background-color: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    color: #3d5170;
    border-radius: .625rem;
    /*border-top-right-radius: 0;*/
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1)
}

.Card .Card_header{
    background-color: #fff !important;
}

.Card_header:first-child{
    border-radius: .625rem .625rem 0 0;
}

.Table_pagination{
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.number{
    margin: 0;
    white-space: nowrap;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4;
    color: #818ea3;
}

.interviewers_view__body{
    display: flex;
    flex-flow: row wrap;
    align-items: left;
    justify-content: space-between;
}

.interviewers_view__body > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-inline-start: initial;
}

ul {
    margin: 0 auto;
    text-align: center;
}

.toggle_wrapper{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #818ea3;
    cursor: pointer;
    padding: 0 5px 20px 0;
}

.toggle_wrapper::before{
    background: #818ea3;
    content: "";
    display: inline-block;
    height: 24px;
    margin-right: 5px;
    width: 1px;
}

.toggle_wrapper__view{
    color: #818ea3;
    cursor: pointer;

}

.toggle_wrapper__grid{
    font-size: 21px;

}

.toggle_wrapper__list{
    font-size: 29px;
}

.toggle_wrapper__grid:hover{
    color: #007bff;
}

.toggle_wrapper__list:hover{
    color: #007bff;
}

.active_view{
    color: #007bff;
}

/*@media (min-width: 1000px) and (min-height: 700px) {*/
/*.Table{*/
/*width: 70%;*/
/*height: 600px;*/
/*}*/
/*}*/

/*@media (min-width: 500px) and (min-height: 401px) {*/
/*.Table{*/
/*width: 450px;*/
/*height: 400px;*/
/*}*/
/*}*/

/*@media (min-width: 500px) and (min-height: 400px) {*/
/*.Table{*/
/*width: 350px;*/
/*height: 300px;*/
/*}*/
/*}*/