.Card{
    background-color: #fff;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    border-radius: .625rem;
    border-top-right-radius: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1)
}

.Card .Card_header{
    background-color: #fff !important;
}

.Card_header:first-child{
    border-radius: .625rem .625rem 0 0;
}

.Table_pagination{
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.Table_pagination_info{
    margin: 0;
    white-space: nowrap;
    text-align: left;
    font-size: 0.87rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3d5170;
}

/*@media (min-width: 1000px) and (min-height: 700px) {*/
/*.Table{*/
/*width: 70%;*/
/*height: 600px;*/
/*}*/
/*}*/

/*@media (min-width: 500px) and (min-height: 401px) {*/
/*.Table{*/
/*width: 450px;*/
/*height: 400px;*/
/*}*/
/*}*/

/*@media (min-width: 500px) and (min-height: 400px) {*/
/*.Table{*/
/*width: 350px;*/
/*height: 300px;*/
/*}*/
/*}*/