.card_header{
    padding: 1rem;
    color: #3d5170;
    background-color: #fff;
}

.card_header:first-child{
    border-radius: .625rem .625rem 0 0;
}

.Border_bottom{
    border-bottom: 1px solid #e1e5eb!important;
}

.Border_top{
    border-top: 1px solid #e1e5eb!important;
}

.Card_footer{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Card_footer:last-child{
    border-radius: 0 0 .625rem .625rem;
}

.action_button{
    width: 100px;
    font-size: 0.77rem;
}

.action_button__cancel{
    border: 1px solid #a3a9af !important;
}

.label{
    color: #3d5170;
    font-size: 13px;
    font-weight: 400;
}

.input_name{
    display: flex;
    justify-content: space-between;
}

.custom_form_control{
    height: auto;
    font-size: 0.8125rem;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    font-weight: 300;
    will-change: border-color, box-shadow;
    box-shadow: none;
    padding: 0.4375rem 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 229, 235);
    border-image: initial;
    border-radius: 0.25rem;
    transition: box-shadow 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06) 0s, border 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06) 0s;
}

.custom_form_control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
}

.close i{
    font-size: 1.4625rem;
    color: #c3c7cc;
    position: absolute;
    top: 15px;
    right: 15px;
}

.close i:hover{
    cursor: pointer;
}