.Tab_button{
    border-radius: .625rem !important;
    min-width: 82px;
    text-align: center;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1)
}

.Tab_button a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    min-width: inherit;
    background-color: #fff !important;
    font-weight: 400;
    line-height: 1.5;
    color: #3d5170;
    border-radius: .625rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: none !important;
    padding-top: 0.8rem !important;
}

.Tab_button a i{
    font-size: 1rem;
}