.Card{
    background-color: #fff;
    border: none;
    border-radius: .625rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: initial;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.Card_header{
    padding: 1rem;
    background-color: #fff;
}

.Card_header:first-child{
    border-radius: .625rem .625rem 0 0;
}

.Border_bottom{
    border-bottom: 1px solid #e1e5eb!important;
}

.Border_top{
    border-top: 1px solid #e1e5eb!important;
}

.Card_footer{
    padding: 1rem;
}

.Card_footer:last-child{
    border-radius: 0 0 .625rem .625rem;
}

.total{
    margin-top: auto;
    margin-bottom: auto;
    font-size: .85rem;
}

.total {
    text-decoration: none;
    font-weight: 600;
    padding-right: 25px;
}

.Text_right{
    text-align: right!important;
}

.Custom_select{
    height: calc(1.88845rem + 2px);
    font-size: .7875rem;
    max-width: 130px;
}