.avatar_img{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    border: 2px white solid;
    border-radius: 50%;
    overflow: hidden;
    /*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);*/
    transform: translatey(0px);
    /*animation: float 6s ease-in-out infinite;*/
    transition: all .4s ease-in-out;
    background-size: cover;

}

.card_header{
    background-color: rgb(255, 255, 255);
    padding: 1rem 1.25rem;
}

.name_text{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    color: rgb(61, 81, 112);
}

.position_text{
    font-size: .95rem;
    letter-spacing: .0425rem;
    color: #707c90;
    font-weight: 600;
}

.email_text{
    font-size: .75rem;
    letter-spacing: .0325rem;
    color: #818ea3;
    font-weight: 400;
}

.action_button{
    width: 100px;
    font-size: 0.77rem;
    border-radius: 50px;
}

.text_center{
    text-align: center !important;
}

.text_uppercase{
    text-transform: uppercase;
}

.skills_title{
    font-size: .75rem;
    letter-spacing: .0625rem;
    color: #818ea3;
    font-weight: 700;
}

.skills_text{
    font-size: .75rem;
    letter-spacing: .0625rem;
    color: #818ea3;
    font-weight: 600;
}

.progress{
    display: flex;
    overflow: hidden;
    font-size: 0.625rem;
    line-height: 0.625rem;
    background-color: rgb(245, 245, 246);
    margin-top: 6px;
    box-shadow: rgba(90, 97, 105, 0.15) 0px 0.1rem 0.1rem inset;
    border-radius: 1.25rem;
}

.progress_sm{
    height: 0.3125rem;
}

.progress_wrapper{
    color: rgb(90, 97, 105);
}

.workload_wrapper{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.workload_wrapper span{
    font-size: 0.625rem;
    color: #818ea3;
}

.skills_group{
    border-radius: 0 0 .625rem .625rem !important;
}

.update i{
    font-size: 1.4625rem;
    color: #c3c7cc;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all .2s ease-in-out;
}

.update i:hover{
    cursor: pointer;
    color: #0075ea;
}