.page_subtitle{
    letter-spacing: .125rem;
    color: var(--page-subtitle-color);
    font-size: .625rem;
}

.page_title{
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: var(--font-color);
}