.Stats_small{
    min-height: 8.7rem;
    overflow: hidden!important;
}

.Card_body{
    flex: 1 1 auto;
}

.Stats_small_label{
    font-size: .75rem;
    letter-spacing: .0625rem;
    color: var(--font-color);
    font-weight: 600;
}

.Stats_small_value{
    font-size: 2.0625rem;
    font-weight: 500;
    color: var(--card-title-color);
}

.Stats_small_data{
    flex: 1 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
    max-width: 100%;
    z-index: 1;
}

.Stats_small_data_percentage{
    font-size: .75rem;
    margin: 0 auto;
    position: relative;
    display: table;
    /*padding-left: .9375rem;*/
    margin-left: auto;
}

.Text_center{
    text-align: center!important;
}

.Text_uppercase{
    text-transform: uppercase!important;
}