.Dropdown{
    height: auto;
    max-width: 210px;
    padding: .4375rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    color: #3d5170;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    box-shadow: none;
    outline:none;
    -webkit-transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
    transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
}

select:focus{
    outline:none;
}

select:active{
    outline: none;
}

.Dropdown::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
}