.label{
    display: block;
    color: #3d5170;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
}

.dropdown{
    height: auto;
    max-width: 210px;
    padding: .4375rem .75rem;
    font-size: .8125rem;
    line-height: 1.5;
    color: #3d5170;
    background-color: #fff;
    border: 1px solid #e1e5eb;
    font-weight: 300;
    will-change: border-color,box-shadow;
    border-radius: .25rem;
    box-shadow: none;
    outline:none;
    -webkit-transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
    transition: box-shadow .25s cubic-bezier(.27,.01,.38,1.06),border .25s cubic-bezier(.27,.01,.38,1.06);
}

.dropdown__error{
    border: 1px solid #c4183c;
}

.invalidFeedback {
    margin-top: .25rem;
    font-size: 80%;
    color: #c4183c;
    width: 100%;
    font-weight: 300;
}

select:focus{
    outline:none;
}

select:active{
    outline: none;
}

.dropdown::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.09375rem + 2px)
}