.card{
    background-color: var(--card-bg-color);
    border: none;
    border-radius: .625rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: initial;
    box-shadow: 0 0.125rem 0.625rem rgba(4, 4, 9, 0.12);
    height: 100%;
    /*min-height: 499px;*/
}