.TableActions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    /*margin: auto;*/
}

@media (max-width: 1024px) {
    .TableActions  {
        max-width: none;
    }
}