.Sidebar {
    box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
    min-height: 100vh;
    width: 280px;
    /*max-width: 70%;*/
    top: 0;
    position: fixed;
    height: calc(100vh);
    background: #fff;
    z-index: 95;
    will-change: transform;
    transition: -webkit-transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}

@media (min-width: 768px) {
    .Sidebar {
        /*width: 15rem !important;*/
    }
}

.Sidebar .Main_Logo{
    height: 3.75rem;
}

.Sidebar .Menu_wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3.75rem - 1px);
}