.Sidebar {
    box-shadow: 0 0.125rem 0.625rem rgba(34, 34, 42, 0.12);
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 280px;
    /*max-width: 70%;*/
    top: 0;
    position: fixed;
    height: calc(100vh);
    background: var(--nav-bg-color);
    z-index: 95;
    will-change: transform;
    transition: -webkit-transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
}

@media (min-width: 768px) {
    .Sidebar {
        /*width: 15rem !important;*/
    }
}

.Sidebar .Main_Logo{
    height: 3.75rem;
}

div.Main_Logo{
    background-color: var(--nav-bg-color);
}

.Sidebar .Menu_wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3.75rem - 1px);
}

.slider_wrapper{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#label-for-check{
    font-size: 0.8em;
}