.card{
    background-color: var(--card-bg-color);
    border: none;
    border-radius: .625rem;
    position: relative;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: initial;
    width: 100%;
    transition: all .2s ease-in-out;
    box-shadow: 0 0.125rem 0.625rem rgba(4, 4, 9, 0.12);
}

.card > ul {
    list-style: none;
}

.wrapper{
    display: flex;
    flex-direction: row;
    padding: 20px 30px 20px 25px;
}


.small_avatar{
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 2px whitesmoke solid;
    box-shadow: 0 1px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
    border-radius: 50%;
    overflow: hidden;
    /*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);*/
    transform: translatey(0px);
    /*animation: float 6s ease-in-out infinite;*/
    transition: all .4s ease-in-out;
    background-size: cover;
}

.right_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: baseline;
    font-size: 12px;
    list-style: none;
}

.right_info__field{
    background-repeat: no-repeat;
    background-size: auto 10px;
    background-position: 5px 5px;
}

.right_info__field_name{
    font-size: 18px;
    font-weight: 600;
    color: var(--card-title-color);
    padding-left: 0;
    margin-bottom: 5px;
}

.right_info__field_title{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 7px;
}

.right_info__field_location{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.right_info__field_email{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.right_info__field_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.right_info__field > i{
    font-size: 15px;
    padding-right: 5px;
}

.footer{
    list-style:none;
    border-top: 1px solid #e1e5eb!important;
    width: 100%;
    display: flex;
    padding-inline-start: initial;

}

.footer > li{
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 10px 25px 7px;
    flex-direction: column;
    cursor: default !important;
}

.header{
    font-weight: 500;
    font-size: 12px;
}

.number{
    font-size: 12px;
    font-weight: 300;
    padding: 3px 0;
}

.date{
    font-size: 12px;
    font-weight: 300 !important;
    padding: 3px 0;
}

.footer > li > i{
    padding: 3px 0;
    font-size: 20px;
}

.footer > li:first-child{
    border-right: 1px solid #e1e5eb!important;

}



/*.wrapper_field{*/
    /*list-style: none;*/
/*}*/

/*.left{*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 40%;*/
/*}*/





/*.right__name{*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
    /*color: #3d5170;*/
    /*padding-bottom: 10px;*/
/*}*/

/*.right__level{*/
    /*font-size: 12px;*/
/*}*/

/*.right__location{*/
    /*font-size: 14px;*/
    /*font-weight: 400;*/
/*}*/

/*.email_wrapper{*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*!*justify-content: space-between;*!*/
    /*align-items: center;*/
/*}*/

/*.email_wrapper i{*/
    /*font-size: 14px;*/
    /*color: #818ea3;*/
/*}*/

/*.email_wrapper span{*/
    /*font-size: 12px;*/
/*}*/

.card.active:hover{
    animation: none;
}

.card:hover{
    /*animation: zoomIn 1.6s linear;*/
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);
    opacity: 1;
    transform: scale(1.03);
    cursor: pointer;
}