body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f8;
  color: #3d5170;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toast-container{
  width: 250px !important;
}

.toast-body__error{
  background-color: #ff4e41;
  font-size: 13px;
  padding: 10px;
}

.toast-body__success{
  background-color: #20a453;
  font-size: 13px;
  padding: 10px;
}

.toast-body__error > button {
  min-width: 12%;
  padding-left: 5px;
  font-size: 13px;
}

.toast-body__success > button {
  min-width: 12%;
  padding-left: 5px;
  font-size: 13px;
}

/* ENTER TRANSITION */
/* Declare transition start properties*/
.page-fade-appear {
  opacity: 0;
}

.page-fade-appear.page-fade-appear-active {
  opacity: 1;
  transition: opacity 200ms linear 150ms;
}

.page-fade-enter {
  opacity: 0;
}

.page-fade-enter.page-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear 150ms;
}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit.page-fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}