:root {
  --red-hue: 360;
  --blue-hue: 240;
  --green-hue: 120;

  --main-hue: var(--red-hue);
  --theme-darkness: 1;
  --text-color-normal: #3d5170;

  --nav-text-color: hsl(var(--main-hue), 50%, 10%);
  --container-bg-color: hsl(var(--main-hue), 50%, 95%);

  --content-text-color: hsl(var(--main-hue), 50%, 50%);
  --title-color: hsl(--main-hue, 50%, 20%);
  --footer-bg-color: hsl(var(--main-hue), 93%, 88%);

  --button-text-color: hsl(var(--main-hue), 50%, 20%);
  /*filter: brightness(var(--theme-darkness));*/

  --primary-color: #fff;
  --secondary-color: #536390;

  --font-color: #3d5170;
  --page-subtitle-color: #7c899e;
  --bg-color: #f5f6f8;
  --footer-color: var(--primary-color);
  --nav-bg-color: var(--primary-color);
  --nav-border-color: #e1e5eb;
  --nav-item-hover-color: #3e6996;
  --pagination-item-bg-color: #4366e0;
  --card-bg-color: var(--primary-color);
  --border-color: #d9d9d9;
  --card-title-color: #3d5170;
  --name-link-color: #4366e0;
  --add-btn-color: #4366e0;
  --add-btn-shadow-color: rgba(52, 40, 9, 0.35);
  --input-bg-color: var(--primary-color);
}

:root[theme='dark'] {
  --red-hue: 360;
  --blue-hue: 240;
  --green-hue: 120;

  --main-hue: var(--blue-hue);
  --theme-darkness: 1;

  --nav-text-color: hsl(var(--main-hue), 50%, 10%);
  --container-bg-color: hsl(var(--main-hue), 50%, 95%);


  --content-text-color: hsl(var(--main-hue), 50%, 50%);
  --title-color: hsl(--main-hue, 50%, 20%);
  --footer-bg-color: hsl(var(--main-hue), 93%, 88%);

  --button-text-color: hsl(var(--main-hue), 50%, 20%);

  /*filter: invert(1) brightness(var(--theme-darkness));*/

  --primary-color: #fff;
  --secondary-color: #818cab;

  --font-color: var(--primary-color);
  --page-subtitle-color: #e2e2e2;
  --bg-color: #1f1f1f;
  --nav-bg-color: #2a2a2a;
  --footer-color: #2a2a2a;
  --nav-border-color: var(--primary-color);;
  --nav-item-hover-color: #be7500;
  --pagination-item-bg-color: #be7500;
  --card-bg-color: #2a2a2a;
  --border-color: #e2e2e2;
  --card-title-color: #be7500;
  --name-link-color: #be7500;
  --add-btn-color: #be7500;
  --add-btn-shadow-color: rgba(146, 87, 13, 0.86);
  --input-bg-color: #2a2a2a;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);

}

nav{
  background: var(--nav-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toast-container{
  width: 250px !important;
}

.toast-body__error{
  background-color: #ff4e41;
  font-size: 13px;
  padding: 10px;
}

.toast-body__success{
  background-color: #20a453;
  font-size: 13px;
  padding: 10px;
}

.toast-body__error > button {
  min-width: 12%;
  padding-left: 5px;
  font-size: 13px;
}

.toast-body__success > button {
  min-width: 12%;
  padding-left: 5px;
  font-size: 13px;
}

/* ENTER TRANSITION */
/* Declare transition start properties*/
.page-fade-appear {
  opacity: 0;
}

.page-fade-appear.page-fade-appear-active {
  opacity: 1;
  transition: opacity 200ms linear 150ms;
}

.page-fade-enter {
  opacity: 0;
}

.page-fade-enter.page-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms linear 150ms;
}

.page-fade-exit {
  opacity: 1;
}

.page-fade-exit.page-fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

