.Table{
    width: 100%;
    margin: auto;
    height: auto;
    overflow: scroll;
    text-align: center;
    font-size: 0.8rem;
}

.Table > thead > tr > th {
    padding: 0.85rem 1.75rem !important;
}

.Table > tbody > tr > td {
    padding: 0.85rem 1.75rem !important;
    height: 60px !important;
}

.Table tbody tr th, td{
    padding: 15px;
}

.Table th{
    cursor: pointer;
}

th span,
td span {
    display: block;
    width: 100%;
}
th span.Table_sorting {
    position: relative;
}

span.Table_sorting:before,
span.Table_sorting:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}
span.Table_sorting:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
span.Table_sorting:after {
    border-top-color: #666;
    margin-top: 1px;
}

.small_avatar{
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: 1px white solid;
    border-radius: 50%;
    overflow: hidden;
    /*box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.6);*/
    transform: translatey(0px);
    /*animation: float 6s ease-in-out infinite;*/
    transition: all .4s ease-in-out;
    background-size: cover;
}