.summary{
    background-color: #fff;
    border: none;
    border-radius: .625rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: initial;
    box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
}

.summary_body{
    list-style: none;
    width: 100%;
    padding: 10px 15px;
}

.summary_body__row{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 0;
    color: #3d5170;
}

.summary_body__title{
    color: #3d5170;
    font-weight: 500;
}

.summary_body__text{
    color: #98a0a8;
    font-weight: 400;
}

.summary_card_header{
    padding: 1rem;
    color: #3d5170;
    background-color: #fff;
}

.edit{
    color: #007bff;
}

.edit:hover{
    cursor: pointer;
    color: #36a8ff;
}

.summary_card_header:first-child{
    border-radius: .625rem .625rem 0 0;
}

.border_bottom{
    border-bottom: 1px solid #e1e5eb!important;
}

.border_top{
    border-top: 1px solid #e1e5eb!important;
}

.card_footer{
    padding: 1rem;
}

.card_footer:last-child{
    border-radius: 0 0 .625rem .625rem;
}